{# ce fichier de vue va être le fichier parent de toutes les vues
ce fichier va contenir l'entête head mais aussi le menu de toutes les pages 
 #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} - blog {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ absolute_url(asset("css/style.css")) }}">
</head>
<body>
    <header class="bg-danger">
        <nav class="navbar navbar-expand navbar-dark container px-3">
            <a href="{{ absolute_url(path("blog_home")) }}" class="navbar-brand">
                <img src="{{ absolute_url(asset("img/logo.svg")) }}" alt="">
            </a>
            <a href="{{ absolute_url(path("blog_home")) }}" class="navbar-brand">
                {% if menu is not defined  %} 
                    blog 
                {% else %}
                    {{ menu.brand }}
                {% endif %}
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ absolute_url(path("blog_presentation"))}}" class="nav-link">Présentation</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <footer class="my-4 text-center">
        <a href="{{ path("blog_mention_legale") }}">mentions légales</a>
        -
        &copy; <a href="{{ site_internet }}" target="_blank">{{ auteur }}</a> créateur de {{ site_name }}
    </footer>
</body>
</html>